.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
}
.red-b{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    display: inline-block;
}
.green-b{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid black;
    display: inline-block;
}
.blue-b{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 1px solid black;
    display: inline-block;
}
.black-b{
    width: 100px;
    height: 100px;
    background-color: black;
    border: 1px solid black;
    display: inline-block;
}
